@charset "UTF-8";
@import "_responsiveness.scss"
/* CSS Document */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #55ACEE;
}

/* Scss Document */
body {
  float: right;
  width: 350px;
}
@media (min-width: 768px) {
  body {
    float: none;
    width: 100%;
  }
}
@media (max-width: 767px) {
  body {
    float: none;
    width: 100%;
  }
}
@media (min-width: 992px) {
  body {
    float: none;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  body {
    float: inherit;
    width: 100%;
  }
}
