/* Scss Document */
	
$icon-background:#55ACEE;
$body-background-color:#FCEFC4;

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color:$icon-background;
}

