/* Scss Document */
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

body {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
	@include breakpoint(xs){
	float: none;
    width: 100%;
	}
	@include breakpoint(md){
		float: none;
    	width: 100%;
	}
	@include breakpoint(lg){
		float:inherit;
    	width: 100%;
	}
}

