/* Scss Document */
.bookListItem .readingList {
  list-style: none;
  list-style-type: none;
  border: thin;
}
.bookListItem .bookListItem {
  background-color: grey;
  list-style-type: none;
  list-style: none;
}