/* Scss Document */
$body-color:grey;
$background-color:grey;

@mixin table($body-color){
	.readingList{
		color:$body-color;
		left:50px;
		top:100px;
	}
}

@mixin list($background-color){
.readingList{
	list-style:none;
	list-style-type:none;
	border:thin;
}
.bookListItem{
		background-color:$background-color;
		list-style-type: none;
		list-style:none;
	}
}

.bookListItem{
	@include list($background-color);
}

